{% extends "phonebook/template.html" %}
{% load staticfiles %}
{% block meta %}
{% endblock meta %}
{% block title %}
    Статистика звонков
{% endblock title %}
{% block body %}
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'phonebook' %}">Телефонная книга</a></li>
                    <li class="dropdown">
                        {% if user.is_authenticated %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% if user.last_name or user.first_name %}
                                    {{ user.first_name }} {{ user.last_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                                <span class="caret"></span>
                            </a>
                            {% if user.is_authenticated %}
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'admin:index' %}">Администрирование</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'logout' %}">Выход</a></li>
                                </ul>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'admin:index' %}">Вход</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row table-responsive">
                <table class="table table-striped tabel-hover">
                    <thead>
                    <tr>
                        <th>Кто</th>
                        <th>Время</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users|dictsortreversed:'call_duration' %}
                        <tr>
                            <td>{{ user.last_name }} {{ user.number }}</td>
                            <td>{{ user.call_duration }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock body %}