{% extends "phonebook/template.html" %}
{% load staticfiles %}
{% block meta %}
{% endblock meta %}
{% block title %}
    Статистика звонков
{% endblock title %}
{% block main %}
    <div class="container">
        <div class="row table-responsive">
            <table class="table table-striped tabel-hover">
                <thead>
                <tr>
                    <th>Кто</th>
                    <th>Время</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users|dictsortreversed:'call_duration' %}
                    <tr>
                        <td>{{ user.last_name }} {{ user.number }}</td>
                        <td>{{ user.call_duration }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock main %}