<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% block meta %}
    {% endblock meta %}
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'phonebook/script/main.js' %}"></script>
    <script src="{% static 'phonebook/script/main.js' %}"></script>
    <link href="{% static 'phonebook/style/main.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
{% block body %}
{% endblock body %}
</body>
</html>