{% extends "phonebook/template.html" %}
{% load staticfiles %}
{% block meta %}
{% endblock meta %}
{% block title %}
    Статистика по SMS
{% endblock title %}
{% block main %}
    <div class="container">
        <div class="row table-responsive">
            <table class="table table-striped tabel-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Всего</th>
                    <th>За последний месяц</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Получено</td>
                        <td>{{ sms_sended }}</td>
                        <td>{{ sms_sended_last_month }}</td>
                    </tr>
                    <tr>
                        <td>Отправлено</td>
                        <td>{{ sms_recieved }}</td>
                        <td>{{ sms_recieved_last_month }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock main %}