{% extends "phonebook/template.html" %}
{% load staticfiles %}
{% block meta %}
{% endblock meta %}
{% block title %}
    Тестирование SMS
{% endblock title %}
{% block main %}
    <div class="container">
        <form action="{% url 'sms:test_sms' %}" role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ send_sms }}
            </div>
            <button class="btn btn-default" data-tooltip="Отправить" type="submit">
                Отправить
            </button>
        </form>
    </div>
{% endblock main %}